body{
    height: 2000px;
}



/*
class & id
*/
/*
display {none , inline , block ,inline-block}
*/

/*
visibility
*/

.test
{
    /* background-color: yellow; */

     /* display: inline ;  */
    /* visibility: hidden; */
    /*width: 200px;
    height: 200px; 
    /* position: relative;
    left: 50px;
    top: 70px; */
    /* position: absolute;
    right: 10px; */
    /* position: fixed; */

}
/*
position{static , absolute , relative ,fixed}
*/

.parent
{
     background-color: red; 
    width: 100%;
    height: 600px;
    position: relative;
}
.test{
    background-color: yellow;
    width:200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);  /*center element in element*/
}
.test2
{
    background-color: green;
    width:200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);  
    z-index: 2;
}


.par{
    background-color: violet;
     width: 60%;
     height: 500px; 
    position: relative; 
}
.f
{
    background-color: tomato;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: 10px;
    float: left;
}
.clear
{
    clear: both;
}

.select ~span
{
  color:red;
}